#chat{
  width:calc(100% - 250px - 20px); /* Represents 250px from contacts area width, and 20pc from contacts area padding */
  background: #bcd;
  height:100%;
  position:absolute;
  right:0;
  overflow: auto;
  padding:0 10px;
}

.empty-alert{
  font:12pt Arial;
  padding:20px 15px;
  background:rgba(255, 255, 255, .3);
  border-left:5px solid rgba(255, 255, 255, .6);
  margin-top:10px;
}
  
.message-area{
  display: inline-block;
  width:100%;
}
  
.message{
  padding: 10px 10px 15px 10px;
  font:10pt Arial;
  margin-top:15px;
}
  
.message .date{
  float:right;
  font-size:7pt;
  position:relative;
  top:15px;
  margin-top:-10px;
  margin-bottom:5px;
}
  
.sender-me{
  background: #ddd;
  border-radius:7px 0 7px 7px;
  float:right;
}
  
.sender-other{
  background: #fff;
  border-radius:0 7px 7px 7px;
  float:left;
}